.detail_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #212430, #17171a);
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    .big_text {
      font-size: 3rem;
      background: linear-gradient(
        to right,
        #babac2,
        #c31432,
        #babac2,
        #c41a41,
        #babac2,
        #9e1431,
        #babac2,
        #c31432
      );
      text-shadow: 3px 3px 3px rgba(#c31432, 0.6);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      padding: 2rem 0;
    }
    .small_text {
      font-size: 2.3rem;
      text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
      padding: 1rem 0;
    }
    .title_container {
      width: 80%;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
        padding: 1.5rem;
        border-radius: 3rem;
        background-image: linear-gradient(
          to bottom left,
          #c31432,
          #9e1431,
          #79152c,
          #551425,
          #33111a,
          #290e17,
          #200812,
          #16010b,
          #1e0315,
          #22051e,
          #250829,
          #240b36
        );
        &:hover {
          transform: scale(1.1);
        }
        .img {
          img {
            width: 7rem;
          }
        }
        .name {
          font-size: 1.5rem;
          padding: 0.5rem 1rem;
          color: rgba(255, 255, 255, 0.6);
        }
        .price {
          display: block;
          font-size: 2rem;
        }
      }
    }
  }

  .table_box {
    width: calc(85% - 1rem);
    border: 1px solid white;
    border-radius: 2rem;
    margin: 2rem;
    overflow: scroll;
    max-height: 75rem;
    &::-webkit-scrollbar {
      width: 1.5rem;
      height: 1.4rem;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
    }

    &::-webkit-scrollbar-thumb {
      background: #2f343a;
    }
    table {
      padding-bottom: 3rem;
      margin: 0;
      thead {
        tr {
          height: 5rem;
          th {
            font-size: 1.5rem;
            font-weight: 200;
            text-align: center;
            vertical-align: middle;
          }
          .symbol {
            width: 10rem;
            svg {
              width: 3rem;
              height: 3rem;
              color: rgba(255, 255, 255, 0.2);
            }
          }
          .high {
            svg {
              color: green;
              font-size: 2rem;
            }
          }
          .low {
            svg {
              color: red;
              font-size: 2rem;
            }
          }
        }
      }
      tbody {
        tr {
          text-align: center;
          vertical-align: middle;
          &:hover {
            transform: scale(1.05);
            transition: transform 0.7s;
            z-index: 100;
          }
          td {
            font-size: 1.4rem;
          }
          .detail_box {
            text-align: start;
            font-size: 2rem;
            img {
              width: 6rem;
              height: 6rem;
              padding: 1rem;
            }
            span {
              font-size: 1.2rem;
              color: rgba(255, 255, 255, 0.5);
            }
          }
          .high {
            color: rgb(4, 194, 4);
          }
          .low {
            color: red;
          }
        }
      }
    }
  }
}
