@import "../../../utils/mixin.scss";

.singlecoin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem;
  color: white;
  background-image: linear-gradient(
    to top right,
    #c31432,
    #9e1431,
    #79152c,
    #551425,
    #33111a,
    #290e17,
    #200812,
    #16010b,
    #1e0315,
    #22051e,
    #250829,
    #240b36
  );
  .main_detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2rem;
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    .name_detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      .name_box {
        display: flex;
        align-items: center;
        img {
          width: 2rem;
          @include md {
            width: 4rem;
          }
        }
        span {
          font-size: 1.8rem;
          font-weight: 600;
          padding: 0;
          @include md {
            padding: 0 1rem;
            font-size: 3rem;
          }
        }
        .symbol {
          padding: 0.5rem;
          width: 4rem;
          text-align: center;
          background-color: #3a3b3c;
          border-radius: 0.5rem;
          font-weight: 600;
        }
      }
      .rank_update {
        display: flex;
        padding: 0.5rem;
        margin: 0;
        @include md {
          padding: 2rem 1rem;
        }
        div {
          text-align: center;
          margin-left: 0.5rem;
          background-color: #3a3b3c;
          border-radius: 0.5rem;
          @include md {
            margin-left: 1rem;
            padding: 0.5rem;
          }
        }
        .rank {
          background-color: #606162;
          font-weight: 600;
        }
      }
    }

    .price_detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      .price_box {
        display: flex;
        align-items: center;
        h1 {
          font-weight: 600;
          font-size: 1.2rem;
          @include md {
            font-size: calc(1.375rem + 1.5vw);
          }
        }
        span {
          background-color: green;
          border-radius: 1rem;
          padding: 0.2rem;
          font-weight: 600;
          margin: 0 0.5rem;
          font-size: 0.8rem;
          @include md {
            font-size: 1.4rem;
            padding: 0.5rem;
          }
        }
      }
      span {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .des {
    max-height: 30rem;
    width: 80%;
    font-size: 1.2rem;
    overflow-y: scroll;
    padding: 2rem;
    background-color: black;
    &::-webkit-scrollbar {
      width: 1.5rem;
      height: 1.4rem;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
    }

    &::-webkit-scrollbar-thumb {
      background: #2f343a;
    }
    border-bottom: 1px solid white;
  }
  .sub_detail {
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0.5rem;
    font-size: 1.2rem;
    @include md {
      padding: 2rem;
    }
    .box {
      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .atl_ath {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5 {
          text-align: center;
        }
      }
      .market_detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .block {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include md {
            display: block;
          }
          span {
            margin-left: 1rem;
          }
        }
      }
    }
    h1 {
      font-weight: 600;
      font-size: 1.25rem;
      margin: 0;
      padding: 0.5rem 0;
      @include md {
        font-size: 2.5rem;
        padding: 1rem 0;
      }
    }
    .ath_percent {
      color: red;
    }
    .atl_percent {
      color: greenyellow;
    }
    .middle_box {
      border-left: 1px solid rgba(255, 255, 255, 0.6);
      border-right: 1px solid rgba(255, 255, 255, 0.6);
    }
  }
}
