.navbar {
  z-index: 100;
  background-color: transparent;
  position: sticky;
  top: 0;
  .container-fluid {
    align-items: center;
    .logo_name {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
  a {
    padding: 0 3rem;
    color: white;
  }
}
