html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "barcadebrawl", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "barcadebrawl";
  src: url("./asset/font/BarcadeBrawl.ttf");
}
