@import "./utils/mixin.scss";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include lg {
    font-size: 62.5% !important;
  }
  @include md {
    font-size: 55% !important;
  }

  &::-webkit-scrollbar {
    width: 1.5rem;
    height: 1.4rem;
  }

  &::-webkit-scrollbar-track {
    background: #2a2a2a;
  }

  &::-webkit-scrollbar-thumb {
    background: #2f343a;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
