.banner_container {
  min-width: 100%;
  background-image: linear-gradient(
    to bottom left,
    #c31432,
    #9e1431,
    #79152c,
    #551425,
    #33111a,
    #290e17,
    #200812,
    #16010b,
    #1e0315,
    #22051e,
    #250829,
    #240b36
  );
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: calc(50% - 10px);
  .text_running {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    .big_text {
      color: white;
      text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
      font-weight: 800;
      top: 30%;
      left: 0;
      font-size: 5rem;
      padding: 2rem 0;
    }
    .small_text {
      font-size: 2rem;
      background: linear-gradient(
        to right,
        #babac2,
        #551425,
        #babac2,
        #79152c,
        #babac2,
        #9e1431,
        #babac2,
        #c31432
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }
  button {
    width: 17rem;
    height: 5rem;
    font-size: 1.7rem;
    background: linear-gradient(to bottom right, #7f7f85, #080a0f);
    border: 1px solid hsl(0, 0%, 61%);
    color: rgba(255, 255, 255, 0.5);
    margin: 3rem 3rem;
  }
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 80%;
    width: 80%;
  }
}
